
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.StockVenv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data & Outputs 
data/*.csv
outputs/*.html
outputs/
notebooks/*.ipynb
models/*.pkl
models_improved/*.pkl
models_improved/*.joblib
models_improved/*.pt
models_improved/*.h5
models_clf/
models/
*.csv
*.pkl

# Logs
*.log

# Streamlit cache
.streamlit/

# Secrets 
.env
.env.*

.sfdx/*
dataset_description.txt
scratch/