pandas
numpy
scikit-learn
xgboost
lightgbm
matplotlib
seaborn
joblib
fastapi
uvicorn[standard]
streamlit
tensorflow
keras
yfinance
ta
plotly
pandas_datareader
newsapi-python
vaderSentiment
scikit-learn
statsmodels
python-dotenv
optuna
